.table-list {
    border-collapse: collapse;
    width: 100%;
}

.table-list, td, th {
    border: 1px solid #0067ee;
}

.table-list th {
    background-color: #0067ee;
    color: white;
    border: none;
}

.table-list td {
    padding-left: 10px;
    color: white;
}

button .edit {
    width: 25px;
}

img {
    vertical-align: middle;
    margin: auto;
}

.button {
    text-align: center;
}

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

button .delete {
    width: 35px;
}

@media (min-width: 992px) {
    .table-list {
        margin-left: 30px;
    }
}