.form-search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
}

.search {
    border-radius: 5px 0 0 5px;
}

.button-search {
    position:relative;
    left:0px;
    background-color:#0067ee;
    color:#fafafa;
    width: auto;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.button-search::-webkit-input-placeholder {
    text-align: center;
    color: tomato !important;
}


input:focus {
    outline: none;
}

@media (min-width: 992px) {
    .form-search {
        margin-left: 30px;
    }
}